<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Litespeed_Litemage>
            <version>1.0.4</version>
        </Litespeed_Litemage>
    </modules>
    <global>
        <blocks>
            <litemage>
                <class>Litespeed_Litemage_Block</class>
            </litemage>
        </blocks>
        <helpers>
            <litemage>
                <class>Litespeed_Litemage_Helper</class>
            </litemage>
        </helpers>
        <models>
            <litemage>
                <class>Litespeed_Litemage_Model</class>
            </litemage>
            <core>
                <rewrite>
                    <translate>Litespeed_Litemage_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <events>
            <!-- purge product cache after stock update -->
            <cataloginventory_stock_item_save_after>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>purgeCatalogProductByStock</method>
                    </litemage_purge>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Litespeed_Litemage before="Mage_Adminhtml">Litespeed_Litemage_Adminhtml</Litespeed_Litemage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <litemage module="Litespeed_Litemage">
                    <file>litemage.xml</file>
                </litemage>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                    <litemage translate="title">
                                    <title>Litemage options powered by LiteSpeed Cache</title>
                                    </litemage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <litemage_purge>
                        <type>singleton</type>
                        <class>litemage/observer_purge</class>
                        <method>adminPurgeCache</method>
                    </litemage_purge>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <litemage_purge>
                        <type>singleton</type>
                        <class>litemage/observer_purge</class>
                        <method>adminPurgeCache</method>
                    </litemage_purge>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>
            <!-- purge category cache after save -->
            <catalog_category_save_commit_after>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>adminPurgeCatalogCategory</method>
                    </litemage_purge>
                </observers>
            </catalog_category_save_commit_after>
            <!-- purge product cache after save -->
            <catalog_product_save_commit_after>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>adminPurgeCatalogProduct</method>
                    </litemage_purge>
                </observers>
            </catalog_product_save_commit_after>
            <!-- purge cms page cache after save -->
            <cms_page_save_commit_after>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>adminPurgeCmsPage</method>
                    </litemage_purge>
                </observers>
            </cms_page_save_commit_after>
            <!-- purge all cache when module disabled -->
            <admin_system_config_changed_section_litemage>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>adminConfigChangedSection</method>
                    </litemage_purge>
                </observers>
            </admin_system_config_changed_section_litemage>
            <!-- display warning if license not enabled -->
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <litemage_purge>
                        <class>litemage/observer_purge</class>
                        <method>adminConfigEditSection</method>
                    </litemage_purge>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <litemage>
                <use>standard</use>
                <args>
                    <module>Litespeed_Litemage</module>
                    <frontName>litemage</frontName>
                </args>
            </litemage>
        </routers>
        <layout>
            <updates>
                <litemage>
                    <file>litemage.xml</file>
                </litemage>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>checkControllerNoCache</method>
                    </litemage_esi>
                </observers>
            </controller_action_predispatch>
            <visitor_init>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>initNewVisitor</method>
                    </litemage_esi>
                </observers>
            </visitor_init>
            <core_layout_block_create_after>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>checkEsiBlock</method>
                    </litemage_esi>
                </observers>
            </core_layout_block_create_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>prepareInjection</method>
                    </litemage_esi>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <http_response_send_before>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>beforeResponseSend</method>
                    </litemage_esi>
                </observers>
            </http_response_send_before>
            <customer_login>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgePrivateCache</method>
                    </litemage_esi>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgePrivateCache</method>
                    </litemage_esi>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </sales_quote_save_after>
            <wishlist_item_save_after>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </wishlist_item_save_after>
            <wishlist_item_delete_after>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </wishlist_item_delete_after>
            <catalog_product_compare_add_product>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </catalog_product_compare_remove_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <catalog_controller_product_view>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>onCatalogProductView</method>
                    </litemage_esi>
                </observers>
            </catalog_controller_product_view>
            <cms_page_render>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>onCmsPageRender</method>
                    </litemage_esi>
                </observers>
            </cms_page_render>
            <poll_vote_add>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </poll_vote_add>
            <core_session_abstract_add_message>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </core_session_abstract_add_message>
            <checkout_onepage_controller_success_action>
                <observers>
                    <litemage_esi>
                        <class>litemage/observer_esi</class>
                        <method>purgeEsiCache</method>
                    </litemage_esi>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <litemage>
            <esiblock>
                <!--    If you need to inject other privately changed blocks, you can add here. 
<blocks> contains the block names defined in the layout files. All blocks that 
share the same purge events can be listed together. If their purge  events are 
not watched in previous events section, you will need to add litemage esi observer for those events.
 
This config file will be updated with module upgrade. If you modified the settings here, please make sure
you keep a copy. -->
                <welcome>
                    <!-- blocks only purged by login/logout, no purge_events config required. login/logout will auto purge all the private blocks -->
                    <access>private</access>
                    <blocks>welcome, litemage.jsvar,nickname$v</blocks>
                    <!-- valueonly will only output block html with no added html tags, comments, also will not show on LITEMAGE_DEBUG=SHOWHOLES, denoted by $v -->
                </welcome>
                <cart>
                    <access>private</access>
                    <!-- blocks can be set by class type, which will include all the blocks that inherited this type. Denoted by prefix "T:" -->
                    <blocks>T:Mage_Checkout_Block_Cart_Abstract</blocks>
                    <purge_events>
                        <sales_quote_save_after/>
                    </purge_events>
                </cart>
                <toplinks>
                    <access>private</access>
                    <blocks>top.links</blocks>
                    <purge_tags>cart, wishlist</purge_tags>
                    <!-- this is composite block that purge events are the combination of other purged tags, 
                    by including purge_tags, you don't need to redefine purge events  -->
                </toplinks>
                <compare>
                    <access>private</access>
                    <blocks>T:Mage_Catalog_Block_Product_Compare_Sidebar, T:Mage_Reports_Block_Product_Compared</blocks>
                    <purge_events>
                        <catalog_product_compare_add_product/>
                        <catalog_product_compare_remove_product/>
                        <catalog_product_compare_item_collection_clear/>
                    </purge_events>
                </compare>
                <viewed>
                    <access>private</access>
                    <blocks>T:Mage_Reports_Block_Product_Viewed</blocks>
                    <purge_events>
                        <catalog_controller_product_view/>
                    </purge_events>
                </viewed>
                <poll>
                    <access>private</access>
                    <blocks>T:Mage_Poll_Block_ActivePoll</blocks>
                    <purge_events>
                        <poll_vote_add/>
                    </purge_events>
                </poll>
                <!-- messages is specially handled, cannot change the tag name here, has to be "messages" -->
                <messages>
                    <access>private</access>
                    <blocks>T:Mage_Core_Block_Messages</blocks>
                    <purge_events>
                        <core_session_abstract_add_message/>
                    </purge_events>
                </messages>
                <!-- Blocks only visible when logged in -->
                <reorder>
                    <access>private</access>
                    <blocks>T:Mage_Sales_Block_Reorder_Sidebar</blocks>
                    <purge_events>
                        <sales_quote_save_after/>
                        <checkout_onepage_controller_success_action/>
                    </purge_events>
                </reorder>
                <wishlist>
                    <access>private</access>
                    <blocks>T:Mage_Wishlist_Block_Customer_Sidebar</blocks>
                    <purge_events>
                        <wishlist_item_save_after/>
                        <wishlist_item_delete_after/>
                    </purge_events>
                </wishlist>
                <!-- public blocks -->
                <footer>
                    <!-- some theme will use a variable in footer which is declared in the header, cause footer block fail to generate.
               you can modify the template to generate the missing variable, or simply do not punch hole in footer (comment out this footer block).
                Make it a public block will speed up page generation and save some disk space.  -->
                    <access>public</access>
                    <blocks>footer</blocks>
                </footer>
            </esiblock>
        </litemage>
    </frontend>
    <default>
        <litemage>
            <general>
                <enabled>0</enabled>
                <public_ttl>28800</public_ttl>
                <private_ttl>1800</private_ttl>
                <track_viewed>0</track_viewed>
                <diff_customergroup>0</diff_customergroup>
                <diff_cookie/>
            </general>
            <warmup>
                <enable_warmup>0</enable_warmup>
                <load_limit>5</load_limit>
                <max_time>300</max_time>
            </warmup>
            <default>
                <!-- Full or partial match on controller full action name for cacheable routes. space, return, comma separated -->
                <cache_routes><![CDATA[catalog cms contacts_index_index]]></cache_routes>
                <!-- Full or partial match on controller full action name for no cache, which are within cacheable routes. space, return, comma separated -->
                <nocache_subroutes><![CDATA[catalog_product_compare]]></nocache_subroutes>
                <!-- Whole response cached based on routes, same content for all url, current for 404 -->
                <fullcache_routes><![CDATA[cms_index_noRoute]]></fullcache_routes>
            </default>
            <donotcache>
                <vars/>
                <urls/>
            </donotcache>
            <test>
                <debug>0</debug>
                <allow_ips/>
            </test>
        </litemage>
    </default>
    <crontab>
        <jobs>
            <litemage_warmup_cache>
                <schedule>
                    <cron_expr>0,10,20,30,40,50 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>litemage/observer_cron::warmCache</model>
                </run>
            </litemage_warmup_cache>
        </jobs>
    </crontab>
</config>
