<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * LiteMage by LiteSpeed Technologies, Inc.
 * 
 * @package    LiteSpeed_LiteMage
 * @copyright  Copyright (c) 2015-2016 LiteSpeed Technologies (http://www.litespeedtech.com)
 */
-->

<config>
    <tabs>
        <Litespeed_Litemage translate="label">
            <label>LiteMage Cache 1.0.16</label>
            <sort_order>5000</sort_order>
        </Litespeed_Litemage>
    </tabs>
    <sections>
        <litemage translate="label" module="litemage">
            <label>LiteMage Configuration</label>
            <tab>Litespeed_Litemage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>5000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info translate="label,comment" module="litemage">
                    <label>About LiteMage</label>
                    <comment> <![CDATA[
<p>LiteMage Cache is a powerful full page cache built for Magento stores running on LiteSpeed Web Server. For more information on the installation and configuration of the LiteMage Cache module, visit the <a href="https://www.litespeedtech.com/support/wiki/doku.php/litespeed_wiki:cache:litemage" target="_blank">LiteMage Cache Wiki</a>.</p>
]]></comment>
                    <frontend_type>label</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>5</sort_order>
                </info>
                <general translate="label" module="litemage">
                    <label>General Settings</label>
                    <frontend_type>label</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enable LiteMage Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <admin_ips translate="label,comment">
                            <label>Admin IPs</label>
                            <comment>Allows listed IPs (space or comma separated) to perform certain actions from their browsers using LITEMAGE_DEBUG and LITEMAGE_CTRL parameters.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </admin_ips>
                        <public_ttl translate="label,comment">
                            <label>Default Public Cache TTL (seconds)</label>
                            <comment>Default timeout for public cache pages. Recommended value is 28800.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range digits-range-600-</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </public_ttl>
                        <private_ttl translate="label,comment">
                            <label>Default Private Cache TTL (seconds)</label>
                            <comment>Default timeout for private cache ESI blocks. Suggested value is 1800. Should not be set over 3600.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range digits-range-300-14400</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </private_ttl>
                        <track_viewed translate="label,comment">
                            <label>Track Recently Viewed Products</label>
                            <comment>Allows for recently viewed products functionality to work correctly even when page is served from cache. Disabling this will speed up page loading, but may make recently viewed products not appear and Magento "most viewed" reports not accurate.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </track_viewed>
                        <diff_customergroup translate="label,comment">
                            <label>Separate Cache Copy per Customer Group</label>
                            <comment>Enable this only if you have a different view or pricing schema for different customer groups.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>litemage/config_source_customerGroup</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </diff_customergroup>
                        <diff_cookie translate="label,comment">
                            <label>Separate Cache Copy for Customized Cookie Values</label>
                            <comment>This settings has been retired since 1.0.11 as using rewrite rules is more efficient. Add the below rewrite rule in .htaccess:  <![CDATA[<br>]]>RewriteRule .* - [E=cache-vary:cookie_name]</comment>
                            <frontend_type>label</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </diff_cookie>
                        <alt_esi_syntax translate="label,comment">
                            <label>Use Alternative ESI Syntax</label>
                            <comment>If the standard ESI include tags are being filtered by some extension(s) and causing ESI parser errors, you can enable Alternative ESI Syntax, which is known only by LiteMage and LiteSpeed Web Server. </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </alt_esi_syntax>
                    </fields>
                </general>
                <default translate="label,comment" module="litemage">
                    <label>System-Defined Cache Rules</label>
                    <comment> <![CDATA[<span class="notice">Defined in module config.xml. To modify, config.xml must be modified directly.</span>]]></comment>
                    <frontend_type>label</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cache_routes translate="label,comment">
                            <label>Cacheable Routes</label>
                            <frontend_type>label</frontend_type>
                            <comment>Routes to be cached. Partial matches will also be cached.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_routes>
                        <nocache_subroutes translate="label,comment">
                            <label>Do-Not-Cache Subroutes</label>
                            <frontend_type>label</frontend_type>
                            <comment>Subroutes within cacheable routes to be excluded from caching.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </nocache_subroutes>
                    </fields>
                </default>
                <donotcache translate="label" module="litemage">
                    <label>User-Defined Cache Rules</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cache_routes translate="label,comment">
                            <label>Cacheable Routes</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Routes to be cached. Partial matches will also be cached. Space, comma, return separated.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_routes>
                        <nocache_subroutes translate="label,comment">
                            <label>Do-Not-Cache Subroutes</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Subroutes within cacheable routes to be excluded from caching. Space, comma, return separated.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </nocache_subroutes>
                        <vars translate="label,comment">
                            <label>Do-Not-Cache GET Parameters</label>
                            <comment>Comma-separated list of GET variables that prevents caching URLs within Cacheable Routes.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </vars>
                        <urls translate="label,comment">
                            <label>URL Blacklist</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>List of relative URLs contained in Cacheable Routes that you would like to exclude from caching. Space, comma, return separated.</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </urls>
                        <welcome translate="label,comment">
                            <label>Customized Block Names for "welcome" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "welcome" tag. These are private blocks and only purged by login and logout events.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </welcome>
                        <toplinks translate="label,comment">
                            <label>Customized Block Names for "toplinks" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "toplinks" tag. These are private blocks and only purged by cart and wishlist related events.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </toplinks>
                        <messages translate="label,comment">
                            <label>Customized Block Names for "messages" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "messages" tag. Only define here if the block is not derived from Mage_Core_Block_Messages.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </messages>
                    </fields>
                </donotcache>
                <warmup translate="label" module="litemage">
                    <label>Cache Warm Up</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <fields>
                        <enable_warmup translate="label,comment">
                            <label>Enable Cache Warm Up</label>
                            <comment>Allow LiteMage to automatically warm up the cache. Magento cron job must be enabled.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>litemage/config_source_enableWarmUp</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_warmup>                        
                        <load_limit translate="label,comment">
                            <label>Only Run When Load Is Less Than</label>
                            <comment>Warm up will only run when current server load is less than this limit.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-number-range number-range-1-20</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </load_limit>
                        <thread_limit translate="label,comment">
                            <label>Maximum Crawler Threads</label>
                            <comment>Multi-threading the crawler will help crawl big sites faster. LiteMage will use multiple threads up to this limit and dynamically adjust it based on current server load. Valid range is 1 - 10.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range digits-range-1-10</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </thread_limit>
                        <max_time translate="label,comment">
                            <label>Maximum Run Time (seconds)</label>
                            <comment>Limit how long Cache Warm Up can run. Warm up cron job is set to run every 10 minutes. Set this value lower than the cron job time interval.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range digits-range-30-</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_time>
                        <interval translate="label,comment">
                            <label>Warm Up Interval (seconds)</label>
                            <comment>Specify how often the full list is crawled. Crawler requests will always be served directly by the backend. If you set this interval to be less than the public TTL, your cache will always be kept warm.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range digits-range-600-</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </interval>
                        <priority translate="label,comment">
                            <label>Warm Up Priority</label>
                            <comment>Sets a custom warm up sequence at the store level. This value should be larger than 0, the lower the number, the higher the priority.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-greater-than-zero</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </priority>                        
                        <multi_currency translate="label,comment">
                            <label>Crawl Non-Default Currencies</label>
                            <comment>Warm up pages for non-default currencies. Set to "ALL" to include all available currencies, or list only the most used currencies. Space, comma separated currency codes, like "USD,GBP,EUR".</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </multi_currency>
                        <custlist_note translate="label,comment">
                            <label>Custom Defined Url List</label>
                            <comment>You can supply your own Url list for each store view. Go to the “Current Configuration Scope” box and select a store to set this up.</comment>
                            <frontend_type>label</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </custlist_note>
                        <custlist translate="label,comment">
                            <label>Custom Defined Url List</label>
                            <comment>Absolute path of the file containing the list of custom-defined Urls. This should contain 1 Url per line. These Urls are relative to the store baseUrl (without http://domain/storepath). You can create a short list of the most important Urls, so they can be warmed up first and refreshed more frequently.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custlist>
                        <custlist_priority translate="label,comment">
                            <label>Custom List Priority</label>
                            <comment>You can specify a different priority for the custom-defined Url list. This value should be larger than 0, the lower the number, the higher the priority.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-greater-than-zero</validate>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custlist_priority>
                        <custlist_interval translate="label,comment">
                            <label>Custom List Crawl Interval (seconds)</label>
                            <comment>Specify how often you want to crawl the custom Url list.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-digits-range-600-</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custlist_interval>
                    </fields>
                </warmup>

                <test translate="label" module="litemage">
                    <label>Developer Testing</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>50</sort_order>
                    <fields>
                        <allow_ips translate="label,comment">
                            <label>Enable LiteMage Cache Only for Listed IPs</label>
                            <comment>Limit LiteMage Cache to specified IPs. (Space or comma separated.) Allows cache testing on a live site. If empty, cache will be served to everyone.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allow_ips>
                        <debug translate="label,comment">
                            <label>Enable Debug</label>
                            <comment>Prints additional information to /var/log/system.log for debugging purposes. (Ensure developer log is enabled.) 
                             <![CDATA[<span class="notice">Turn off for production use.</span>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </test>

            </groups>
        </litemage>
    </sections>
</config>
