<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * LiteMage by LiteSpeed Technologies, Inc.
 * 
 * @package    LiteSpeed_LiteMage
 * @copyright  Copyright (c) 2015 LiteSpeed Technologies (http://www.litespeedtech.com)
 */
-->

<config>
    <tabs>
        <Litespeed_Litemage translate="label">
            <label>LiteMage Cache  1.0.9</label>
            <sort_order>5000</sort_order>
        </Litespeed_Litemage>
    </tabs>
    <sections>
        <litemage translate="label" module="litemage">
            <label>LiteMage Configuration</label>
            <tab>Litespeed_Litemage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>5000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label" module="litemage">
                    <label>General Settings</label>
                    <frontend_type>label</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enable LiteMage Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <public_ttl translate="label comment">
                            <label>Default Public Cache TTL (seconds)</label>
                            <comment>Default timeout for public cache pages. Recommended value is 28800.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </public_ttl>
                        <private_ttl translate="label comment">
                            <label>Default Private Cache TTL (seconds)</label>
                            <comment>Default timeout for private cache ESI blocks. Suggested value is 1800. Should not be set over 3600.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </private_ttl>
                        <track_viewed translate="label comment">
                            <label>Track Recently Viewed Products</label>
                            <comment>Allows for recently viewed products functionality to work correctly even when page is served from cache. Disabling this will speed up page loading, but may make recently viewed products not appear and Magento "most viewed" reports not accurate.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </track_viewed>
                        <diff_customergroup translate="label comment">
                            <label>Separate Cache Copy per Customer Group</label>
                            <comment>Enable this only if you have a different view or pricing schema for different customer groups.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>litemage/config_source_customerGroup</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </diff_customergroup>
                        <diff_cookie translate="label comment">
                            <label>Separate Cache Copy for Customized Cookie Values</label>
                            <comment>Comma-separated list of user defined cookies (from third party extensions) that will trigger different view for public cached pages.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </diff_cookie>
                        <alt_esi_syntax translate="label comment">
                            <label>Use Alternative ESI Syntax</label>
                            <comment>If the standard ESI include tags are being filtered by some extension(s) and causing ESI parser errors, you can enable Alternative ESI Syntax, which is known only by LiteMage and LiteSpeed Web Server. </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </alt_esi_syntax>
                    </fields>
                </general>
                <default translate="label" module="litemage">
                    <label>System-Defined Cache Rules</label>
                    <comment> <![CDATA[<span class="notice">Defined in module config.xml. To modify, config.xml must be modified directly.</span>]]></comment>
                    <frontend_type>label</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cache_routes translate="label comment">
                            <label>Cacheable Routes</label>
                            <frontend_type>label</frontend_type>
                            <comment>Routes to be cached. Partial matches will also be cached.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_routes>
                        <nocache_subroutes translate="label comment">
                            <label>Do-Not-Cache Subroutes</label>
                            <frontend_type>label</frontend_type>
                            <comment>Subroutes within cacheable routes to be excluded from caching.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </nocache_subroutes>
                    </fields>
                </default>
                <donotcache translate="label" module="litemage">
                    <label>User-Defined Cache Rules</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cache_routes translate="label comment">
                            <label>Cacheable Routes</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Routes to be cached. Partial matches will also be cached. Space, comma, return separated.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_routes>
                        <nocache_subroutes translate="label comment">
                            <label>Do-Not-Cache Subroutes</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Subroutes within cacheable routes to be excluded from caching. Space, comma, return separated.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </nocache_subroutes>
                        <vars translate="label comment">
                            <label>Do-Not-Cache GET Parameters</label>
                            <comment>Comma-separated list of GET variables that prevents caching URLs within Cacheable Routes.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </vars>
                        <urls translate="label comment">
                            <label>URL Blacklist</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>List of relative URLs contained in Cacheable Routes that you would like to exclude from caching. Space, comma, return separated.</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </urls>
                        <welcome translate="label comment">
                            <label>Customized Block Names for "welcome" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "welcome" tag. These are private blocks and only purged by login and logout events.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </welcome>
                        <toplinks translate="label comment">
                            <label>Customized Block Names for "toplinks" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "toplinks" tag. These are private blocks and only purged by cart and wishlist related events.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </toplinks>
                        <messages translate="label comment">
                            <label>Customized Block Names for "messages" Tag</label>
                            <comment>Comma-separated list of customized block names associated with the "messages" tag. Only define here if the block is not derived from Mage_Core_Block_Messages.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </messages>
                    </fields>
                </donotcache>
                <warmup translate="label" module="litemage">
                    <label>Cache Warm Up</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>40</sort_order>
                    <fields>
                        <enable_warmup translate="label comment">
                            <label>Enable Cache Warm Up</label>
                            <comment>Allow LiteMage to automatically warm up the cache. Magento cron job must be enabled.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_warmup>                        
                        <load_limit translate="label comment">
                            <label>Only Run When Load Is Less Than</label>
                            <comment>Warm up will only run when current server load is less than this limit.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </load_limit>
                        <max_time translate="label comment">
                            <label>Maximum Run Time (seconds)</label>
                            <comment>Limit how long Cache Warm Up can run. Warm up cron job is set to run every 10 minutes. Set this value lower than the cron job time interval.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_time>
                    </fields>
                </warmup>

                <test translate="label" module="litemage">
                    <label>Developer Testing</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>50</sort_order>
                    <fields>
                        <allow_ips translate="label comment">
                            <label>Enable LiteMage Cache Only for Listed IPs</label>
                            <comment>Limit LiteMage Cache to specified IPs. (Space or comma separated.) Allows cache testing on a live site. If empty, cache will be served to everyone.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allow_ips>
                        <debug translate="label comment">
                            <label>Enable Debug</label>
                            <comment>Prints additional information to /var/log/system.log for debugging purposes. (Ensure developer log is enabled.) 
                             <![CDATA[<span class="notice">Turn off for production use.</span>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </test>

            </groups>
        </litemage>
    </sections>
</config>
